@import 'ui-variables';

// import version specific stylesheets into namespaces
.aafa-v4 { @import (less) 'v4/font-awesome.min.css'; }
.aafa-v5 { @import (less) 'v5/fontawesome-all.css'; } // minified version has parsing error

// Atom packages run in a different path on Linux, so it's safer to
// use an absolute path for runtime assets to avoid relativity issues
@styles-path: 'atom://autocomplete-font-awesome/styles';

@font-face {
    font-family: 'FontAwesome-v4-fa';
    src: url('@{styles-path}/v4/fontawesome-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome-v5-fas';
    src: url('@{styles-path}/v5/fa-solid-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome-v5-far';
    src: url('@{styles-path}/v5/fa-regular-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome-v5-fab';
    src: url('@{styles-path}/v5/fa-brands-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.aafa {
    .fa, .fas, .far, .fab {
        transform: scale(1.2);
    }
}

.aafa-v4 {
    .fa {
        font-family: 'FontAwesome-v4-fa';
        font-weight: 400;
    }
}

.aafa-v5 {
    .fas {
        font-family: 'FontAwesome-v5-fas';
        font-weight: 900;
    }

    .far {
        font-family: 'FontAwesome-v5-far';
        font-weight: 400;
    }

    .fab {
        font-family: 'FontAwesome-v5-fab';
        font-weight: 400;
    }
}
